apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argo
spec:
  project: default
  source:
    repoURL: https://github.com/branimik/apps.git
    targetRevision: HEAD
    path: prometheus
  destination:
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    syncOptions:
    - Validate=true
    - CreateNamespace=true
